/* dimensao do meu content */
$max-width: 1560px;

/* breaking point mobile */
$mobile: max-width 1200px 4;

/* dimensao gutter */
$gutter: (55 / 20) * 1em;

/* dimensao colunas */
$column: (108 / 24) * 1em;

/* reset ao omega */
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
