/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$big-circle-name: 'big-circle';
$big-circle-x: 0px;
$big-circle-y: 0px;
$big-circle-offset-x: 0px;
$big-circle-offset-y: 0px;
$big-circle-width: 307px;
$big-circle-height: 323px;
$big-circle-total-width: 307px;
$big-circle-total-height: 720px;
$big-circle-image: '../img/sprites/spritesheet.png';
$big-circle: (0px, 0px, 0px, 0px, 307px, 323px, 307px, 720px, '../img/sprites/spritesheet.png', 'big-circle', );
$circle-red-name: 'circle-red';
$circle-red-x: 0px;
$circle-red-y: 323px;
$circle-red-offset-x: 0px;
$circle-red-offset-y: -323px;
$circle-red-width: 102px;
$circle-red-height: 397px;
$circle-red-total-width: 307px;
$circle-red-total-height: 720px;
$circle-red-image: '../img/sprites/spritesheet.png';
$circle-red: (0px, 323px, 0px, -323px, 102px, 397px, 307px, 720px, '../img/sprites/spritesheet.png', 'circle-red', );
$close-name: 'close';
$close-x: 221px;
$close-y: 515px;
$close-offset-x: -221px;
$close-offset-y: -515px;
$close-width: 74px;
$close-height: 74px;
$close-total-width: 307px;
$close-total-height: 720px;
$close-image: '../img/sprites/spritesheet.png';
$close: (221px, 515px, -221px, -515px, 74px, 74px, 307px, 720px, '../img/sprites/spritesheet.png', 'close', );
$facebook-name: 'facebook';
$facebook-x: 260px;
$facebook-y: 386px;
$facebook-offset-x: -260px;
$facebook-offset-y: -386px;
$facebook-width: 15px;
$facebook-height: 26px;
$facebook-total-width: 307px;
$facebook-total-height: 720px;
$facebook-image: '../img/sprites/spritesheet.png';
$facebook: (260px, 386px, -260px, -386px, 15px, 26px, 307px, 720px, '../img/sprites/spritesheet.png', 'facebook', );
$instagram-name: 'instagram';
$instagram-x: 260px;
$instagram-y: 364px;
$instagram-offset-x: -260px;
$instagram-offset-y: -364px;
$instagram-width: 22px;
$instagram-height: 22px;
$instagram-total-width: 307px;
$instagram-total-height: 720px;
$instagram-image: '../img/sprites/spritesheet.png';
$instagram: (260px, 364px, -260px, -364px, 22px, 22px, 307px, 720px, '../img/sprites/spritesheet.png', 'instagram', );
$play-name: 'play';
$play-x: 102px;
$play-y: 515px;
$play-offset-x: -102px;
$play-offset-y: -515px;
$play-width: 119px;
$play-height: 119px;
$play-total-width: 307px;
$play-total-height: 720px;
$play-image: '../img/sprites/spritesheet.png';
$play: (102px, 515px, -102px, -515px, 119px, 119px, 307px, 720px, '../img/sprites/spritesheet.png', 'play', );
$seta-name: 'seta';
$seta-x: 275px;
$seta-y: 386px;
$seta-offset-x: -275px;
$seta-offset-y: -386px;
$seta-width: 15px;
$seta-height: 26px;
$seta-total-width: 307px;
$seta-total-height: 720px;
$seta-image: '../img/sprites/spritesheet.png';
$seta: (275px, 386px, -275px, -386px, 15px, 26px, 307px, 720px, '../img/sprites/spritesheet.png', 'seta', );
$small-circle-name: 'small-circle';
$small-circle-x: 102px;
$small-circle-y: 323px;
$small-circle-offset-x: -102px;
$small-circle-offset-y: -323px;
$small-circle-width: 158px;
$small-circle-height: 192px;
$small-circle-total-width: 307px;
$small-circle-total-height: 720px;
$small-circle-image: '../img/sprites/spritesheet.png';
$small-circle: (102px, 323px, -102px, -323px, 158px, 192px, 307px, 720px, '../img/sprites/spritesheet.png', 'small-circle', );
$termos-white-name: 'termos-white';
$termos-white-x: 102px;
$termos-white-y: 634px;
$termos-white-offset-x: -102px;
$termos-white-offset-y: -634px;
$termos-white-width: 74px;
$termos-white-height: 74px;
$termos-white-total-width: 307px;
$termos-white-total-height: 720px;
$termos-white-image: '../img/sprites/spritesheet.png';
$termos-white: (102px, 634px, -102px, -634px, 74px, 74px, 307px, 720px, '../img/sprites/spritesheet.png', 'termos-white', );
$termos-name: 'termos';
$termos-x: 176px;
$termos-y: 634px;
$termos-offset-x: -176px;
$termos-offset-y: -634px;
$termos-width: 50px;
$termos-height: 50px;
$termos-total-width: 307px;
$termos-total-height: 720px;
$termos-image: '../img/sprites/spritesheet.png';
$termos: (176px, 634px, -176px, -634px, 50px, 50px, 307px, 720px, '../img/sprites/spritesheet.png', 'termos', );
$twitter-name: 'twitter';
$twitter-x: 260px;
$twitter-y: 343px;
$twitter-offset-x: -260px;
$twitter-offset-y: -343px;
$twitter-width: 25px;
$twitter-height: 21px;
$twitter-total-width: 307px;
$twitter-total-height: 720px;
$twitter-image: '../img/sprites/spritesheet.png';
$twitter: (260px, 343px, -260px, -343px, 25px, 21px, 307px, 720px, '../img/sprites/spritesheet.png', 'twitter', );
$youtube-name: 'youtube';
$youtube-x: 260px;
$youtube-y: 323px;
$youtube-offset-x: -260px;
$youtube-offset-y: -323px;
$youtube-width: 27px;
$youtube-height: 20px;
$youtube-total-width: 307px;
$youtube-total-height: 720px;
$youtube-image: '../img/sprites/spritesheet.png';
$youtube: (260px, 323px, -260px, -323px, 27px, 20px, 307px, 720px, '../img/sprites/spritesheet.png', 'youtube', );
$spritesheet-width: 307px;
$spritesheet-height: 720px;
$spritesheet-image: '../img/sprites/spritesheet.png';
$spritesheet-sprites: ($big-circle, $circle-red, $close, $facebook, $instagram, $play, $seta, $small-circle, $termos-white, $termos, $twitter, $youtube, );
$spritesheet: (307px, 720px, '../img/sprites/spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
