/*@import "compass";
@import "compass/css3";*/
/* dimensao do meu content */
/* breaking point mobile */
/* dimensao gutter */
/* dimensao colunas */
/* reset ao omega */
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
/* line 4, neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, base/_base.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

/* line 20, base/_base.scss */
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
}

/* line 25, base/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 45, base/_base.scss */
body {
  line-height: 1;
  margin: 0;
  position: relative;
  float: left;
  width: 100%;
}

/* line 52, base/_base.scss */
ol, ul {
  list-style: none;
}

/* line 55, base/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 58, base/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 63, base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 76, base/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 81, base/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 90, base/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 105, base/_base.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 118, base/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 128, base/_base.scss */
textarea {
  resize: vertical;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 151, base/_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 172, base/_base.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 185, base/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 195, base/_base.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 207, base/_base.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 216, base/_base.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 228, base/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 236, base/_base.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 245, base/_base.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/*h1 {
    font-size: 2em;
    margin: 0.67em 0;
}*/
/**
 * Address styling not present in IE 8/9.
 */
/* line 263, base/_base.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 272, base/_base.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 280, base/_base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 288, base/_base.scss */
sup {
  top: -0.5em;
}

/* line 292, base/_base.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 303, base/_base.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 311, base/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 322, base/_base.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 330, base/_base.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 339, base/_base.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 347, base/_base.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 370, base/_base.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  border: 0;
  border-radius: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
}

/* line 384, base/_base.scss */
button {
  background-color: transparent;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 392, base/_base.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 403, base/_base.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 416, base/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 428, base/_base.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 437, base/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 448, base/_base.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 460, base/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 472, base/_base.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 482, base/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 493, base/_base.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 502, base/_base.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 513, base/_base.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 522, base/_base.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 531, base/_base.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 542, base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 547, base/_base.scss */
td,
th {
  padding: 0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 557, base/_base.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
/* line 573, base/_base.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 582, base/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 599, base/_base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 613, base/_base.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 629, base/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 635, base/_base.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 652, base/_base.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 662, base/_base.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 667, base/_base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 671, base/_base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 680, base/_base.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 685, base/_base.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 696, base/_base.scss */
  thead {
    display: table-header-group;
  }

  /* line 700, base/_base.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 705, base/_base.scss */
  img {
    max-width: 100% !important;
  }

  /* line 709, base/_base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 716, base/_base.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* outros estilos */
/* line 739, base/_base.scss */
.row {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, bourbon/addons/_clearfix.scss */
.row::after {
  clear: both;
  content: "";
  display: table;
}

/*********************/
/* line 745, base/_base.scss */
a {
  color: inherit;
}

/* line 3, components/_index.scss */
body {
  background-color: #1f1f1f;
}
/* line 5, components/_index.scss */
body * {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: inherit;
  font-weight: 400;
  color: #ffffff;
}

/* line 9, components/_index.scss */
#mobileVisible {
  display: none;
}
@media screen and (max-width: 1200px) {
  /* line 9, components/_index.scss */
  #mobileVisible {
    display: block;
  }
}

/* line 15, components/_index.scss */
.center_height {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  float: left;
  display: block;
  margin-right: 3.26409%;
  width: 100%;
}
/* line 89, neat/grid/_span-columns.scss */
.center_height:last-child {
  margin-right: 0;
}

/* line 20, components/_index.scss */
.row {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  /*@include media($mobile){
      padding:0 20px;
  }*/
}
/* line 20, bourbon/addons/_clearfix.scss */
.row::after {
  clear: both;
  content: "";
  display: table;
}

/* line 28, components/_index.scss */
#mainMenu {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 0;
}
/* line 32, components/_index.scss */
#mainMenu a {
  text-transform: uppercase;
  font-weight: 300;
  display: inline-flex;
}

/* line 39, components/_index.scss */
.social_network .facebook {
  float: left;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -260px -386px;
  width: 15px;
  height: 26px;
  margin: 0 20px 0 0;
}
/* line 44, components/_index.scss */
.social_network .twitter {
  float: left;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -260px -343px;
  width: 25px;
  height: 21px;
  margin: 4px 16px 0 0;
}
/* line 49, components/_index.scss */
.social_network .instagram {
  float: left;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -260px -364px;
  width: 22px;
  height: 22px;
  margin: 4px 15px 0 0;
}
/* line 54, components/_index.scss */
.social_network .youtube {
  float: left;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -260px -323px;
  width: 27px;
  height: 20px;
  margin: 5px 0 0 0;
}

/* line 60, components/_index.scss */
#sector-home {
  float: left;
  height: 100vh;
  width: 100%;
  background: url("../img/img1.jpg") top center no-repeat;
  position: relative;
  overflow: hidden;
}
/* line 67, components/_index.scss */
#sector-home .title {
  float: left;
  width: 100%;
  font-size: 70px;
  font-weight: 300;
  margin: 0 0 28px;
  opacity: 0;
  position: relative;
  top: -30px;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: opacity, 0.7s ease-out;
  -moz-transition: opacity, 0.7s ease-out;
  transition: opacity, 0.7s ease-out;
  -webkit-transition: top, 0.4s ease-out;
  -moz-transition: top, 0.4s ease-out;
  transition: top, 0.4s ease-out;
}
/* line 80, components/_index.scss */
#sector-home .text {
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  font-weight: 300;
  margin: 0 0 37px;
  opacity: 0;
  -webkit-transition: opacity, 0.7s ease-out;
  -moz-transition: opacity, 0.7s ease-out;
  transition: opacity, 0.7s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 91, components/_index.scss */
#sector-home img {
  opacity: 0;
  -webkit-transition: opacity, 0.7s ease-out;
  -moz-transition: opacity, 0.7s ease-out;
  transition: opacity, 0.7s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 96, components/_index.scss */
#sector-home .center_height {
  text-align: center;
}
/* line 99, components/_index.scss */
#sector-home .container {
  float: left;
  width: 100%;
  height: 100vh;
  position: relative;
}
/* line 105, components/_index.scss */
#sector-home .social_network {
  position: absolute;
  bottom: 58px;
  right: 0;
}
/* line 110, components/_index.scss */
#sector-home .next {
  width: 64px;
  position: absolute;
  bottom: 61px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity, 0.7s ease-out;
  -moz-transition: opacity, 0.7s ease-out;
  transition: opacity, 0.7s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 120, components/_index.scss */
#sector-home .next span {
  float: left;
  width: 100%;
  height: 15px;
  position: relative;
  margin: 0 0 2px;
}
/* line 126, components/_index.scss */
#sector-home .next span:after, #sector-home .next span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}
/* line 139, components/_index.scss */
#sector-home .next span:after {
  left: auto;
  right: 0;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
/* line 145, components/_index.scss */
#sector-home .next span:nth-child(1) {
  animation: arrow1 1s infinite;
}
@keyframes arrow1 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
/* line 154, components/_index.scss */
#sector-home .next span:nth-child(2) {
  animation: arrow2 1s infinite 0.25s;
}
@keyframes arrow2 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
/* line 163, components/_index.scss */
#sector-home .next span:nth-child(3) {
  animation: arrow3 1s infinite 0.5s;
}
@keyframes arrow3 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
/* line 174, components/_index.scss */
#sector-home.visible .title {
  opacity: 1;
  top: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.7s ease-out 0.1s, -webkit-transform 0.5s ease-out, top 0.3s ease-out;
  -moz-transition: opacity 0.7s ease-out 0.1s, -moz-transform 0.5s ease-out, top 0.3s ease-out;
  transition: opacity 0.7s ease-out 0.1s, transform 0.5s ease-out, top 0.3s ease-out;
}
/* line 181, components/_index.scss */
#sector-home.visible .text {
  opacity: 1;
  -webkit-transition: opacity, 0.7s ease-out;
  -moz-transition: opacity, 0.7s ease-out;
  transition: opacity, 0.7s ease-out;
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
/* line 186, components/_index.scss */
#sector-home.visible img {
  opacity: 1;
  -webkit-transition: opacity, 0.7s ease-out;
  -moz-transition: opacity, 0.7s ease-out;
  transition: opacity, 0.7s ease-out;
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 191, components/_index.scss */
#sector-home.visible .next {
  opacity: 1;
  -webkit-transition: opacity, 0.7s ease-out;
  -moz-transition: opacity, 0.7s ease-out;
  transition: opacity, 0.7s ease-out;
  -webkit-transition-delay: 0.95s;
  -moz-transition-delay: 0.95s;
  transition-delay: 0.95s;
}

/* line 199, components/_index.scss */
.menuHamburguer {
  width: 30px;
  height: 18px;
  cursor: pointer;
}
/* line 203, components/_index.scss */
.menuHamburguer span {
  float: left;
  width: 100%;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: #fff;
}
/* line 209, components/_index.scss */
.menuHamburguer span:last-child {
  margin: 0;
}

/* line 215, components/_index.scss */
#sector-video {
  float: left;
  min-height: 100vh;
  width: 100%;
  background: url("../img/img2.jpg") top center no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
/* line 223, components/_index.scss */
#sector-video .big_content {
  float: left;
  width: 100%;
  position: relative;
}
/* line 228, components/_index.scss */
#sector-video .row {
  position: relative;
}
/* line 231, components/_index.scss */
#sector-video .menuHamburguer {
  position: absolute;
  right: 24px;
  top: 70px;
  z-index: 9999;
}
/* line 236, components/_index.scss */
#sector-video:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px 0px;
  width: 307px;
  height: 323px;
}
/* line 242, components/_index.scss */
#sector-video:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -102px -323px;
  width: 158px;
  height: 192px;
}
/* line 248, components/_index.scss */
#sector-video .content {
  float: left;
  height: 100vh;
  width: 100%;
  position: relative;
}
/* line 253, components/_index.scss */
#sector-video .content .title {
  float: left;
  width: 100%;
  font-size: 60px;
  font-weight: 300;
  line-height: 55px;
  text-align: center;
  position: relative;
  top: -30px;
  opacity: 0;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: opacity 0.7s ease-out 0.1s, -webkit-transform 0.5s ease-out, top 0.3s ease-out;
  -moz-transition: opacity 0.7s ease-out 0.1s, -moz-transform 0.5s ease-out, top 0.3s ease-out;
  transition: opacity 0.7s ease-out 0.1s, transform 0.5s ease-out, top 0.3s ease-out;
}
/* line 264, components/_index.scss */
#sector-video .content .title_images {
  float: left;
  float: left;
  display: block;
  margin-right: 3.26409%;
  width: 31.15727%;
  margin-left: 8.60534%;
  font-size: 60px;
  line-height: 55px;
  font-weight: 300;
  top: 13%;
  position: relative;
  z-index: 999;
  text-transform: uppercase;
  opacity: 0;
  top: 0;
  -webkit-transition: opacity 0.7s ease-out 0.1s, top 0.3s ease-out;
  -moz-transition: opacity 0.7s ease-out 0.1s, top 0.3s ease-out;
  transition: opacity 0.7s ease-out 0.1s, top 0.3s ease-out;
}
/* line 89, neat/grid/_span-columns.scss */
#sector-video .content .title_images:last-child {
  margin-right: 0;
}
/* line 278, components/_index.scss */
#sector-video .content .social_network {
  position: absolute;
  bottom: 58px;
  right: 0;
  z-index: 999;
}
/* line 284, components/_index.scss */
#sector-video .content .image_content {
  position: absolute;
  height: auto;
  cursor: pointer;
  z-index: 9;
}
/* line 289, components/_index.scss */
#sector-video .content .image_content.img1 {
  width: 55.7%;
  left: -100%;
  bottom: 0;
  -webkit-transition: left 0.4s ease-out;
  -moz-transition: left 0.4s ease-out;
  transition: left 0.4s ease-out;
}
/* line 294, components/_index.scss */
#sector-video .content .image_content.img2 {
  width: 62.5%;
  right: -100%;
  top: 10.2%;
  -webkit-transition: right 0.5s ease-out;
  -moz-transition: right 0.5s ease-out;
  transition: right 0.5s ease-out;
}
/* line 299, components/_index.scss */
#sector-video .content .image_content.img3 {
  width: 55.2%;
  right: -100%;
  bottom: 3.83%;
  -webkit-transition: right 0.6s ease-out;
  -moz-transition: right 0.6s ease-out;
  transition: right 0.6s ease-out;
}
/* line 304, components/_index.scss */
#sector-video .content .image_content img {
  z-index: 1;
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}
/* line 311, components/_index.scss */
#sector-video .content .image_content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background-color: #000;
  -webkit-transition: opacity 0.7s ease-out 0.1s;
  -moz-transition: opacity 0.7s ease-out 0.1s;
  transition: opacity 0.7s ease-out 0.1s;
}
/* line 322, components/_index.scss */
#sector-video .content .image_content .titulo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  z-index: 3;
}
/* line 328, components/_index.scss */
#sector-video .content .image_content .titulo:after {
  content: '';
  clear: left;
  background-color: #efb323;
  width: 49px;
  height: 5px;
  display: block;
  margin: 20px 0 0 0;
  -webkit-transition: width 1s ease-out 0.1s;
  -moz-transition: width 1s ease-out 0.1s;
  transition: width 1s ease-out 0.1s;
}
/* line 339, components/_index.scss */
#sector-video .content .image_content:hover {
  z-index: 19;
}
/* line 341, components/_index.scss */
#sector-video .content .image_content:hover .titulo {
  z-index: 4;
}
/* line 343, components/_index.scss */
#sector-video .content .image_content:hover .titulo:after {
  width: 100%;
}
/* line 347, components/_index.scss */
#sector-video .content .image_content:hover:after {
  opacity: 0;
}
/* line 354, components/_index.scss */
#sector-video #subContentFotos.visible .img1 {
  left: 0;
}
/* line 357, components/_index.scss */
#sector-video #subContentFotos.visible .img2 {
  right: 0;
}
/* line 360, components/_index.scss */
#sector-video #subContentFotos.visible .img3 {
  right: -4.4%;
}
/* line 363, components/_index.scss */
#sector-video #subContentFotos.visible .image_content:after {
  opacity: 0.5;
}
/* line 366, components/_index.scss */
#sector-video #subContentFotos.visible .image_content:hover:after {
  opacity: 0;
}
/* line 369, components/_index.scss */
#sector-video #subContentFotos.visible .title_images {
  top: 13%;
  opacity: 1;
}
/* line 375, components/_index.scss */
#sector-video .video {
  float: left;
  width: 56%;
  height: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 50px;
}
/* line 384, components/_index.scss */
#sector-video .video iframe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
/* line 388, components/_index.scss */
#sector-video .video .image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
/* line 392, components/_index.scss */
#sector-video .video .image:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -102px -515px;
  width: 119px;
  height: 119px;
}
/* line 401, components/_index.scss */
#sector-video .video img {
  width: 100%;
  height: 100%;
}
/* line 405, components/_index.scss */
#sector-video .video.big {
  width: 90%;
  -webkit-transition: width 0.7s ease-out;
  -moz-transition: width 0.7s ease-out;
  transition: width 0.7s ease-out;
}
/* line 408, components/_index.scss */
#sector-video .video.big .image {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-out, visibility 0s ease-out 0.7s;
  -moz-transition: opacity 0.7s ease-out, visibility 0s ease-out 0.7s;
  transition: opacity 0.7s ease-out, visibility 0s ease-out 0.7s;
}
/* line 416, components/_index.scss */
#sector-video.visible .title {
  opacity: 1;
  top: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.7s ease-out 0.1s, -webkit-transform 0.5s ease-out, top 0.3s ease-out;
  -moz-transition: opacity 0.7s ease-out 0.1s, -moz-transform 0.5s ease-out, top 0.3s ease-out;
  transition: opacity 0.7s ease-out 0.1s, transform 0.5s ease-out, top 0.3s ease-out;
}
/* line 423, components/_index.scss */
#sector-video .detail_content {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #fff;
  padding: 52px 52px 52px 180px;
  -webkit-transition: left 0.4s ease-out 0.1s;
  -moz-transition: left 0.4s ease-out 0.1s;
  transition: left 0.4s ease-out 0.1s;
  z-index: 99999;
}
/* line 432, components/_index.scss */
#sector-video .detail_content.open {
  left: 50%;
}
/* line 434, components/_index.scss */
#sector-video .detail_content.open.big {
  left: 0%;
}
/* line 438, components/_index.scss */
#sector-video .detail_content.big {
  width: 100%;
}
/* line 441, components/_index.scss */
#sector-video .detail_content .close {
  float: right;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -221px -515px;
  width: 74px;
  height: 74px;
  margin: 0 0 99px;
}
/* line 446, components/_index.scss */
#sector-video .detail_content .titulo {
  float: left;
  width: 100%;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: #8d734b;
  margin: 0 0 55px;
}
/* line 455, components/_index.scss */
#sector-video .detail_content .subtitulo {
  float: left;
  width: 100%;
  font-size: 40px;
  font-weight: 300;
  color: #8d734b;
  margin: 0 0 19px;
}
/* line 463, components/_index.scss */
#sector-video .detail_content .texto {
  float: left;
  width: 100%;
  font-size: 24px;
  font-weight: 300;
  color: #707070;
  margin: 0 0 24px;
}
/* line 471, components/_index.scss */
#sector-video .detail_content .texto2 {
  float: left;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  color: #707070;
}
/* line 478, components/_index.scss */
#sector-video .detail_content .termos {
  float: left;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  color: #8d734b;
  text-transform: uppercase;
  margin: 52px 0 0 0;
}
/* line 487, components/_index.scss */
#sector-video .detail_content .termos:before {
  content: '';
  float: left;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -176px -634px;
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
}

/* line 496, components/_index.scss */
#menuLateral {
  position: fixed;
  right: -100%;
  top: 0;
  min-height: 100vh;
  width: 732px;
  background-color: #0b0d11;
  padding: 58px 59px 0 180px;
  z-index: 99999;
  -webkit-transition: right 0.4s ease-out 0.1s;
  -moz-transition: right 0.4s ease-out 0.1s;
  transition: right 0.4s ease-out 0.1s;
}
/* line 506, components/_index.scss */
#menuLateral.open {
  right: 0;
}
/* line 509, components/_index.scss */
#menuLateral .content {
  float: left;
  text-align: center;
  width: 372px;
  clear: both;
}
/* line 515, components/_index.scss */
#menuLateral .close {
  float: right;
  position: absolute;
  right: 50px;
  top: 58px;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -221px -515px;
  width: 74px;
  height: 74px;
}
/* line 522, components/_index.scss */
#menuLateral img {
  width: 305px;
  height: auto;
}
/* line 526, components/_index.scss */
#menuLateral ul {
  margin: 58px 0 0 0;
}
/* line 528, components/_index.scss */
#menuLateral ul a {
  color: #8d734b;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 534, components/_index.scss */
#menuLateral ul li {
  margin: 0 0 28px 0;
}
/* line 537, components/_index.scss */
#menuLateral ul ul {
  margin: 26px 0 12px 0;
}
/* line 540, components/_index.scss */
#menuLateral ul ul li {
  margin: 0 0 20px 0;
}
/* line 543, components/_index.scss */
#menuLateral ul ul a {
  color: #fff;
  text-transform: none;
  font-size: 18px;
  position: relative;
}
/* line 548, components/_index.scss */
#menuLateral ul ul a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #e4ab22;
}
/* line 558, components/_index.scss */
#menuLateral .join {
  position: absolute;
  font-size: 25px;
  color: #f0b323;
  text-transform: uppercase;
  border: 2px solid #f0b323;
  border-radius: 35px;
  padding: 20px 58px 25px 18px;
  right: -40px;
  top: 50%;
}

/* line 569, components/_index.scss */
#sector-join {
  float: left;
  width: 100%;
  height: 100vh;
  background: url(../img/img3.jpg) top center no-repeat;
  position: relative;
  overflow: hidden;
}
/* line 576, components/_index.scss */
#sector-join:before {
  content: '';
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -323px;
  width: 102px;
  height: 397px;
  left: 0;
  top: 50%;
  position: absolute;
}
/* line 582, components/_index.scss */
#sector-join .row {
  position: relative;
}
/* line 585, components/_index.scss */
#sector-join .menuHamburguer {
  position: absolute;
  right: 24px;
  top: 70px;
  z-index: 9999;
}
/* line 590, components/_index.scss */
#sector-join .content {
  float: left;
  float: left;
  display: block;
  margin-right: 3.26409%;
  width: 31.15727%;
  margin: 219px 0 0 0;
}
/* line 89, neat/grid/_span-columns.scss */
#sector-join .content:last-child {
  margin-right: 0;
}
/* line 595, components/_index.scss */
#sector-join h1 {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 55px;
  margin: 0 0 23px;
}
/* line 602, components/_index.scss */
#sector-join h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  margin: 0 0 10px;
}
/* line 608, components/_index.scss */
#sector-join .texto p {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}
/* line 613, components/_index.scss */
#sector-join form {
  position: absolute;
  width: 50.8%;
  height: 100%;
  right: -100%;
  top: 0;
  background-color: #8d734b;
  -webkit-transition: right 0.4s ease-out 0.1s;
  -moz-transition: right 0.4s ease-out 0.1s;
  transition: right 0.4s ease-out 0.1s;
  padding: 60px 180px 0 159px;
}
/* line 622, components/_index.scss */
#sector-join .title {
  font-size: 38px;
  text-transform: uppercase;
  margin: 0 0 30px;
}
/* line 627, components/_index.scss */
#sector-join label {
  display: none;
}
/* line 628, components/_index.scss */
#sector-join input[type="text"] {
  float: left;
  width: 100%;
  margin: 0 0 11px;
  padding: 16px 24px 14px;
  background-color: #aa9678;
  text-transform: uppercase;
}
/* line 636, components/_index.scss */
#sector-join button {
  float: right;
  width: auto;
  border-radius: 3px;
  border: 2px solid #fff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 18px 13px 26px;
  font-size: 28px;
  position: relative;
  margin: 24px 0 0 0;
}
/* line 647, components/_index.scss */
#sector-join button:after {
  content: '';
  float: right;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -275px -386px;
  width: 15px;
  height: 26px;
  margin: 0 0 0 39px;
}
/* line 653, components/_index.scss */
#sector-join button:before {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 17px;
  background-color: #8d734b;
  height: 2px;
  width: 22px;
}
/* line 661, components/_index.scss */
#sector-join a {
  float: left;
  font-size: 24px;
  font-weight: 300;
  width: 348px;
  text-transform: uppercase;
  margin: 31px 0 0 0;
}
/* line 668, components/_index.scss */
#sector-join a:before {
  content: '';
  float: left;
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -102px -634px;
  width: 74px;
  height: 74px;
  -webkit-transform: translateY(-13px);
  -moz-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  -o-transform: translateY(-13px);
  transform: translateY(-13px);
  margin: 0 32px 0 0;
}
/* line 677, components/_index.scss */
#sector-join.visible form {
  right: 0px;
}

/* line 682, components/_index.scss */
#sector-responsability {
  float: left;
  width: 100%;
  min-height: 100vh;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
/* line 689, components/_index.scss */
#sector-responsability .row {
  position: relative;
  height: 100vh;
}
/* line 693, components/_index.scss */
#sector-responsability .menuHamburguer {
  position: absolute;
  right: 24px;
  top: 70px;
  z-index: 9999;
}
/* line 698, components/_index.scss */
#sector-responsability .content {
  float: left;
  float: left;
  display: block;
  margin-right: 3.26409%;
  width: 31.15727%;
  margin: 217px 0 0 0;
}
/* line 89, neat/grid/_span-columns.scss */
#sector-responsability .content:last-child {
  margin-right: 0;
}
/* line 703, components/_index.scss */
#sector-responsability h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}
/* line 710, components/_index.scss */
#sector-responsability .texto p {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
}
/* line 715, components/_index.scss */
#sector-responsability .image_content {
  position: absolute;
}
/* line 717, components/_index.scss */
#sector-responsability .image_content img {
  float: left;
  width: 100%;
  height: auto;
}
/* line 722, components/_index.scss */
#sector-responsability .image_content.img1 {
  width: 30%;
  left: -100%;
  bottom: 11.8%;
  -webkit-transition: left 0.4s ease-out;
  -moz-transition: left 0.4s ease-out;
  transition: left 0.4s ease-out;
}
/* line 727, components/_index.scss */
#sector-responsability .image_content.img2 {
  width: 40%;
  right: -100%;
  top: 25%;
  -webkit-transition: right 0.5s ease-out;
  -moz-transition: right 0.5s ease-out;
  transition: right 0.5s ease-out;
}
/* line 734, components/_index.scss */
#sector-responsability #responsability.visible .img1 {
  left: 23.8%;
}
/* line 737, components/_index.scss */
#sector-responsability #responsability.visible .img2 {
  right: 7.6%;
}
/* line 741, components/_index.scss */
#sector-responsability h2 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  line-height: 55px;
  margin: 0 0 15px;
}
/* line 749, components/_index.scss */
#sector-responsability h3 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
}
/* line 757, components/_index.scss */
#sector-responsability ul {
  float: left;
  width: 100%;
  margin: 54px 0 0 0;
}
/* line 761, components/_index.scss */
#sector-responsability ul li {
  float: left;
  display: block;
  margin-right: 3.26409%;
  width: 31.15727%;
  margin-bottom: 23px;
  position: relative;
}
/* line 89, neat/grid/_span-columns.scss */
#sector-responsability ul li:last-child {
  margin-right: 0;
}
/* line 78, neat/grid/_omega.scss */
#sector-responsability ul li:nth-child(3n) {
  margin-right: 0;
}
/* line 83, neat/grid/_omega.scss */
#sector-responsability ul li:nth-child(3n+1) {
  clear: left;
}
/* line 766, components/_index.scss */
#sector-responsability ul li .sizer {
  float: left;
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
/* line 773, components/_index.scss */
#sector-responsability ul li .content_img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 2;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
/* line 781, components/_index.scss */
#sector-responsability ul li .content_img:hover {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
/* line 785, components/_index.scss */
#sector-responsability ul li .content_img:hover:after {
  width: 76%;
}
/* line 789, components/_index.scss */
#sector-responsability ul li .content_img:after {
  content: '';
  width: 48px;
  height: 6px;
  background-color: #efb323;
  position: absolute;
  left: 56px;
  bottom: 46px;
  z-index: 3;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
/* line 801, components/_index.scss */
#sector-responsability ul li .absolute {
  float: left;
  width: 100%;
  height: auto;
  z-index: 2;
}

/* line 811, components/_index.scss */
#sector-partners {
  float: left;
  width: 100%;
  min-height: 100vh;
  background: url(../img/img4.jpg) top center no-repeat;
  position: relative;
  overflow: hidden;
}
/* line 819, components/_index.scss */
#sector-partners .row {
  position: relative;
  height: 100vh;
}
/* line 823, components/_index.scss */
#sector-partners .menuHamburguer {
  position: absolute;
  right: 24px;
  top: 70px;
  z-index: 9999;
}
