@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

body {
    background-color: #1f1f1f;
    * {
        @include setFont("Open Sans",20px,#ffffff);
    }
}
#mobileVisible {
    display: none;
    @include media($mobile) {
        display: block;
    }
}
.center_height {
    @include position(relative, 50% null null null);
    @include transform(translateY(-50%));
    @include span-columns(12);
}
.row {
    @include outer-container();
    padding:0 24px;
    //position: relative;
    /*@include media($mobile){
        padding:0 20px;
    }*/
}
#mainMenu {
    display: flex;
    justify-content: space-between;
    margin: 72px 0 0;
    a {
        text-transform: uppercase;
        font-weight: 300;
        display: inline-flex;
    }
}
.social_network {
    .facebook {
        float: left;
        @include sprite($facebook);
        margin: 0 20px 0 0;
    }
    .twitter {
        float: left;
        @include sprite($twitter);
        margin: 4px 16px 0 0;
    }
    .instagram {
        float: left;
        @include sprite($instagram);
        margin: 4px 15px 0 0;
    }
    .youtube {
        float: left;
        @include sprite($youtube);
        margin:5px 0 0 0;
    }
}
#sector-home {
    float: left;
    height: 100vh;
    width: 100%;
    background: url("../img/img1.jpg") top center no-repeat;
    position: relative;
    overflow: hidden;
    .title {
        float: left;
        width:100%;
        font-size: 70px;
        font-weight: 300;
        margin: 0 0 28px;
        opacity: 0;
        position: relative;
        top:-30px;
        @include transform(scale(1.3));
        @include transition(opacity, 0.7s ease-out);
        @include transition(top, 0.4s ease-out);
    }
    .text {
        float: left;
        width:100%;
        font-size: 30px;
        line-height: 35px;
        font-weight: 300;
        margin: 0 0 37px;
        opacity: 0;
        @include transition(opacity, 0.7s ease-out);
        @include transition-delay(0s);
    }
    img{
        opacity: 0;
        @include transition(opacity, 0.7s ease-out);
        @include transition-delay(0s);
    }
    .center_height {
        text-align: center;
    }
    .container {
        float: left;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .social_network {
        position: absolute;
        bottom: 58px;
        right: 0;
    }
    .next {
        width: 64px;
        position: absolute;
        bottom: 61px;
        left: 50%;
        @include transform(translateX(-50%));
        cursor: pointer;
        opacity: 0;
        @include transition(opacity, 0.7s ease-out);
        @include transition-delay(0s);
        span {
            float: left;
            width: 100%;
            height: 15px;
            position: relative;
            margin: 0 0 2px;
            &:after,
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 34px;
                height: 4px;
                border-radius: 2px;
                background-color: #fff;
                opacity: 0.5;
                @include transform(rotate(25deg));
            }
            &:after {
                left: auto;
                right: 0;
                @include transform(rotate(-25deg));
            }

            &:nth-child(1){
                animation: arrow1 1s infinite ;
                @keyframes arrow1 {
                  0%   { opacity: 0.5; }
                  50%   { opacity: 1; }
                  100% { opacity: 0.5; }
                }
            }

            &:nth-child(2){
                animation: arrow2 1s infinite 0.25s;
                @keyframes arrow2 {
                  0%   { opacity: 0.5; }
                  50%   { opacity: 1; }
                  100% { opacity: 0.5; }
                }
            }

            &:nth-child(3){
                animation: arrow3 1s infinite 0.5s;
                @keyframes arrow3 {
                  0%   { opacity: 0.5; }
                  50%   { opacity: 1; }
                  100% { opacity: 0.5; }
                }
            }
        }
    }
    &.visible{
        .title{
            opacity:1;
            top:0;
            @include transform(scale(1));
            @include transition(opacity 0.7s ease-out 0.1s, transform 0.5s ease-out, top 0.3s ease-out);
            //@include transition-delay(0s);
        }
        .text{
            opacity:1;
            @include transition(opacity, 0.7s ease-out);
            @include transition-delay(0.35s);
        }
        img{
            opacity:1;
            @include transition(opacity, 0.7s ease-out);
            @include transition-delay(0.7s);
        }
        .next{
            opacity:1;
            @include transition(opacity, 0.7s ease-out);
            @include transition-delay(0.95s);
        }
    }
}

.menuHamburguer{
    width:30px;
    height: 18px;
    cursor:pointer;
    span{
        float: left;
        width: 100%;
        height: 3px;
        margin:0 0 5px 0;
        background-color: #fff;
        &:last-child{
            margin:0;
        }
    }
}

#sector-video{
    float: left;
    min-height: 100vh;
    width: 100%;
    background: url("../img/img2.jpg") top center no-repeat;
	background-attachment: fixed;
    position: relative;
    overflow: hidden;
    .big_content{
        float: left;
        width: 100%;
        position: relative;
    }
    .row{
        position: relative;
    }
    .menuHamburguer{
        position:absolute;
        right:24px;top:70px;
        z-index:9999;
    }
    &:before{
        content:'';
        position: absolute;
        right:0;top:0;
        @include sprite($big-circle);
    }
    &:after{
        content:'';
        position: absolute;
        left:0;bottom:0;
        @include sprite($small-circle);
    }
    .content{
        float: left;
        height: 100vh;
        width: 100%;
        position: relative;
        .title{
            float: left;
            width: 100%;
            font-size:60px;font-weight: 300;line-height: 55px;
            text-align: center;
            position: relative;
            top:-30px;
            opacity: 0;
            @include transform(scale(1.3));
            @include transition(opacity 0.7s ease-out 0.1s, transform 0.5s ease-out, top 0.3s ease-out);
        }
        .title_images{
            float: left;
            @include span-columns(4);
            @include shift(1);
            font-size:60px;line-height: 55px;font-weight:300;
            top:13%;
            position: relative;
            z-index:999;
            text-transform: uppercase;
            opacity: 0;
            top:0;
            @include transition(opacity 0.7s ease-out 0.1s, top 0.3s ease-out);
            //@include transform(translateY(50%));
        }
        .social_network {
            position: absolute;
            bottom: 58px;
            right: 0;
            z-index:999;
        }
        .image_content{
            position: absolute;
            height: auto;
            cursor: pointer;
            z-index:9;
            &.img1{
                width:55.7%;
                left:-100%;bottom:0;
                @include transition(left 0.4s ease-out);
            }
            &.img2{
                width:62.5%;
                right:-100%;top:10.2%;
                @include transition(right 0.5s ease-out);
            }
            &.img3{
                width:55.2%;
                right:-100%;bottom:3.83%;
                @include transition(right 0.6s ease-out);
            }
            img{
                z-index:1;
                width:100%;
                height: auto;
                position: relative;
                float: left;
            }
            &:after{
                content:'';
                position: absolute;
                left:0;top:0;
                width: 100%;height: 100%;
                z-index:2;
                opacity: 0;
                background-color: #000;
                @include transition(opacity 0.7s ease-out 0.1s);
            }

            .titulo{
                position: absolute;
                left:50%;top:50%;
                @include transform(translate(-50%,-50%));
                font-size: 30px;font-weight: 300;color:#fff;
                z-index:3;
                &:after{
                    content: '';
                    clear:left;
                    background-color: #efb323;
                    width:49px;
                    height: 5px;
                    display: block;
                    margin:20px 0 0 0;
                    @include transition(width 1s ease-out 0.1s);
                }
            }
            &:hover{
                z-index:19;
                .titulo{
                    z-index:4;
                    &:after{
                        width: 100%
                    }
                }
                &:after{
                    opacity: 0;
                }
            }
        }
    }
    #subContentFotos.visible{
        .img1{
            left:0;
        }
        .img2{
            right:0;
        }
        .img3{
            right:-4.4%;
        }
        .image_content:after{
            opacity: 0.5;
        }
        .image_content:hover:after{
            opacity: 0;
        }
        .title_images{
            top:13%;
            opacity: 1;
        }

    }
    .video{
        float:left;
        //width: 90%;
        width: 56%;
        height: auto;
        position: relative;
        left:50%;
        @include transform(translateX(-50%));
        margin-top:50px;
        iframe{
            position: absolute;
            left:0;top:0;z-index:1;
        }
        .image{
            width:100%;height: 100%;
            position: absolute;
            left:0;top:0;z-index:2;
            &:after{
                content:'';
                position: absolute;
                top:50%;
                left:50%;
                @include transform(translate(-50%, -50%));
                @include sprite($play);
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
        &.big{
            width:90%;
            @include transition(width 0.7s ease-out);
            .image{
                visibility: hidden;
                opacity: 0;
                @include transition(opacity 0.7s ease-out, visibility 0s ease-out 0.7s);
            }
        }
    }
    &.visible{
        .title{
            opacity:1;
            top:0;
            @include transform(scale(1));
            @include transition(opacity 0.7s ease-out 0.1s, transform 0.5s ease-out, top 0.3s ease-out);
        }
    }
    .detail_content{
        position: absolute;
        left:100%;top:0;
        height: 100%;
        width:50%;
        background-color: #fff;
        padding:52px 52px 52px 180px;
        @include transition(left 0.4s ease-out 0.1s);
        z-index:99999;
        &.open{
            left: 50%;
            &.big{
                left:0%;
            }
        }
        &.big{
            width: 100%;
        }
        .close{
            float: right;
            @include sprite($close);
            margin:0 0 99px;
        }
        .titulo{
            float: left;
            width: 100%;
            font-size: 40px;
            font-weight: 300;
            text-transform: uppercase;
            color:#8d734b;
            margin:0 0 55px;
        }
        .subtitulo{
            float: left;
            width: 100%;
            font-size: 40px;
            font-weight: 300;
            color:#8d734b;
            margin:0 0 19px;
        }
        .texto{
            float: left;
            width: 100%;
            font-size: 24px;
            font-weight: 300;
            color:#707070;
            margin:0 0 24px;
        }
        .texto2{
            float: left;
            width: 100%;
            font-size: 20px;
            font-weight: 300;
            color:#707070;
        }
        .termos{
            float: left;
            width: 100%;
            font-size: 20px;
            line-height: 20px;
            font-weight: 300;
            color:#8d734b;
            text-transform: uppercase;
            margin:52px 0 0 0;
            &:before{
                content:'';
                float: left;
                @include sprite($termos);
                margin:0 20px 0 0;
            }
        }
    }
}
#menuLateral{
    position: fixed;
    right: -100%;
    top:0;
    min-height: 100vh;
    width: 732px;
    background-color: #0b0d11;
    padding:58px 59px 0 180px;
    z-index:99999;
    @include transition(right 0.4s ease-out 0.1s);
    &.open{
        right: 0;
    }
    .content{
        float: left;
        text-align: center;
        width:372px;
        clear: both;
    }
    .close{
        float: right;
        position: absolute;
        right:50px;
        top:58px;
        @include sprite($close);
    }
    img{
        width:305px;
        height: auto;
    }
    ul{
        margin:58px 0 0 0;
        a{
            color:#8d734b;
            font-size: 25px;
            font-weight: 300;
            text-transform: uppercase;
        }
        li{
            margin:0 0 28px 0;
        }
        ul{
            margin:26px 0 12px 0;
        }
        ul li{
            margin:0 0 20px 0;
        }
        ul a{
            color:#fff;
            text-transform: none;
            font-size:18px;
            position: relative;
            &:hover:after{
                content:'';
                position: absolute;
                left:0;bottom:-6px;
                width: 100%;
                height: 2px;
                background-color: #e4ab22;
            }
        }
    }
    .join{
        position: absolute;
        font-size:25px;
        color:#f0b323;
        text-transform: uppercase;
        border:2px solid #f0b323;
        border-radius: 35px;
        padding:20px 58px 25px 18px;
        right:-40px;top:50%;
    }
}
#sector-join{
    float: left;
    width: 100%;
    height: 100vh;
    background:url(../img/img3.jpg) top center no-repeat;
    position: relative;
    overflow: hidden;
    &:before{
        content:'';
        @include sprite($circle-red);
        left:0;top:50%;
        position: absolute;
    }
    .row{
        position: relative;
    }
    .menuHamburguer{
        position:absolute;
        right:24px;top:70px;
        z-index:9999;
    }
    .content{
        float: left;
        @include span-columns(4);
        margin:219px 0 0 0;
    }
    h1{
        font-size:60px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 55px;
        margin:0 0 23px;
    }
    h2{
        font-size:20px;
        font-weight: 300;
        line-height: 26px;
        margin:0 0 10px;
    }
    .texto p{
        font-size:20px;
        font-weight: 300;
        line-height: 26px;
    }
    form{
        position: absolute;
        width: 50.8%;
        height: 100%;
        right:-100%;top:0;
        background-color: #8d734b;
        @include transition(right 0.4s ease-out 0.1s);
        padding:60px 180px 0 159px;
    }
    .title{
        font-size:38px;
        text-transform: uppercase;
        margin:0 0 30px;
    }
    label{display: none;}
    input[type="text"]{
        float: left;
        width: 100%;
        margin:0 0 11px;
        padding:16px 24px 14px;
        background-color: #aa9678;
        text-transform: uppercase;
    }
    button{
        float: right;
        width: auto;
        border-radius: 3px;
        border:2px solid #fff;
        background-color: transparent;
        text-transform: uppercase;
        padding:10px 18px 13px 26px;
        font-size:28px;
        position: relative;
        margin:24px 0 0 0;
        &:after{
            content:'';
            float: right;
            @include sprite($seta);
            margin:0 0 0 39px;
        }
        &:before{
            content:'';
            position: absolute;
            bottom:-2px;right:17px;
            background-color: #8d734b;
            height: 2px;width:22px;
        }
    }
    a{
        float: left;
        font-size:24px;
        font-weight: 300;
        width:348px;
        text-transform: uppercase;
        margin:31px 0 0 0;
        &:before{
            content:'';
            float: left;
            @include sprite($termos-white);
            @include transform(translateY(-13px));
            margin:0 32px 0 0;
        }
    }
    &.visible{
        form{
            right:0px;
        }
    }
}
#sector-responsability{
    float: left;
    width: 100%;
    min-height: 100vh;
    background-color:#1f1f1f;
    position: relative;
    overflow: hidden;
    .row{
        position: relative;
        height: 100vh;
    }
    .menuHamburguer{
        position:absolute;
        right:24px;top:70px;
        z-index:9999;
    }
    .content{
        float: left;
        @include span-columns(4);
        margin:217px 0 0 0;
    }
    h1{
        font-weight: 300;
        font-size: 60px;
        line-height: 55px;
        text-transform: uppercase;
        margin:0 0 40px 0;
    }
    .texto p{
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
    }
    .image_content{
        position: absolute;
        img{
            float: left;
            width: 100%;
            height: auto;
        }
        &.img1{
            width:30%;
            left:-100%;bottom:11.8%;
            @include transition(left 0.4s ease-out);
        }
        &.img2{
            width:40%;
            right:-100%;top:25%;
            @include transition(right 0.5s ease-out);
        }
    }
    #responsability.visible{
        .img1{
            left:23.8%;
        }
        .img2{
            right:7.6%;
        }
    }
    h2{
        width: 100%;
        text-align: center;
        font-size: 50px;
        font-weight: 300;
        line-height: 55px;
        margin:0 0 15px;
    }
    h3{
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        line-height: 30px;

    }
    ul{
        float: left;
        width: 100%;
        margin:54px 0 0 0;
        li{
            @include span-columns(4);
            @include omega(3n);
            margin-bottom:23px;
            position: relative;
            .sizer{
                float: left;
                width: 100%;
                height:auto;
                z-index:1;
                position: relative;
            }
            .content_img{
                position: absolute;
                width: 100%;
                height:auto;
                left:0;top:0;
                z-index:2;
                @include transform(scale(1));
                @include transition(transform 0.3s ease-out);
                &:hover{

                    @include transform(scale(1.06));

                    &:after{
                        width:76%;
                    }
                }
                &:after{
                    content:'';
                    width: 48px;
                    height: 6px;
                    background-color: #efb323;
                    position: absolute;
                    left:56px;
                    bottom:46px;
                    z-index:3;
                    @include transition(width 0.3s ease-out);
                }
            }
            .absolute{
                float: left;
                width: 100%;
                height:auto;
                z-index:2;
            }

        }
    }
}
#sector-partners{
    float: left;
    width: 100%;
    min-height: 100vh;
    background:url(../img/img4.jpg) top center no-repeat;
    position: relative;
    overflow: hidden;
    
    .row{
        position: relative;
        height: 100vh;
    }
    .menuHamburguer{
        position:absolute;
        right:24px;top:70px;
        z-index:9999;
    }
}
